.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 100;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);

  @include themify($themes) {
    background: themed('colorBackground');
  }

  .topbar__wrapper {
    position: relative;
    display: flex;
  }

  .topbar__button {
    width: 60px;
    height: 60px;
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {

      .topbar__button-icon {
        fill: $color-accent;
      }
    }

    &.topbar__button--desktop {
      display: none;
    }
  }

  .topbar__button-icon {
    margin: auto;
    transition: all 0.3s;

    @include themify($themes) {
      fill: themed('colorText');
    }
  }

  .topbar__logo {
    width: 100%;
    height: 32px;
    margin: auto 0;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: contain;
    display: block;

    @include themify($themes) {
      background-image: themed('logoImg');
    }

    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  .topbar__right {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    margin-right: 15px;
  }

  .topbar__avatar {
    height: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 0;
    border: none;
    transition: all 0.3s;
    box-shadow: none;
    padding: 0 15px;
    background-color: transparent;

    &:hover, &:focus, &:active, &:focus:active {
      @include themify($themes) {
        background-color: themed('colorHover');
      }
    }

    &:focus {
      outline: none;
    }

    &:before {
      display: none;
    }
  }

  .topbar__avatar-img, .topbar__avatar-name, .topbar__avatar-icon {
    margin: auto 0;
  }

  .topbar__avatar-img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin-right: 10px;
  }

  .topbar__avatar-name {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    display: none;

    @include themify($themes) {
      color: themed('colorText');
    }
  }

  .topbar__avatar-icon {
    opacity: 0.3;
    margin-left: 8px;

    @include themify($themes) {
      fill: themed('colorText');
      height: 18px;
      margin-top: auto;
    }
  }

  .topbar__menu {
    width: 200px;
    border-radius: 0;
    border: none;
    padding: 15px 0;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
    margin-top: 0;
    left: -10px !important;

    @include themify($themes) {
      background: themed('colorBackground');
    }

    button {
      padding: 0;

      &:hover {
        @include themify($themes) {
          background-color: themed('colorHover');
        }
      }
    }

    *:focus {
      outline: none;
    }
  }

  .topbar__link {
    display: flex;
    padding: 9px 20px;
    transition: all 0.3s;
    height: 32px;
    width: 100%;
    position: relative;
    cursor: pointer;

    @include themify($themes) {
      color: themed('colorText');
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: $color-accent;
      opacity: 0;
      transition: all 0.3s;
    }

    &:hover {
      @include themify($themes) {
        background-color: themed('colorHover');
      }

      &:before {
        opacity: 1;
      }
    }
  }

  .topbar__link-title {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
  }

  .topbar__link-icon {
    margin-right: 10px;
    font-size: 13px;
    line-height: 13px;

    @include themify($themes) {
      color: themed('colorIcon');
    }
  }

  .topbar__menu-divider {
    margin: 15px 0;

    @include themify($themes) {
      border-top-color: themed('colorBorder');
    }
  }

  .topbar__profile {
    margin-bottom: 0;
    margin-left: 20px;
  }

  .topbar__btn {
    font-size: 18px;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    border: none;
    background: transparent;
    transition: all 0.3s;

    @include themify($themes) {
      color: themed('colorText');
    }

    &:hover {

      @include themify($themes) {
        background-color: themed('colorHover');
      }
    }

    span {
      margin: auto;
      height: 18px;
    }

    &.topbar__btn--new {

      .topbar__btn-new-label {
        position: absolute;
        right: 9px;
        top: 20px;

        & > div {
          position: relative;

          &:before {
            background-color: rgba(224, 83, 111, 0.2);
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            animation: beforePulse 1.5s infinite;
          }

          &:after {
            height: 7px;
            width: 7px;
            background-color: #e0536f;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    @keyframes beforePulse {
      from {
        width: 7px;
        height: 7px;
      }
      25% {
        width: 13px;
        height: 13px;
      }
      to {
        width: 7px;
        height: 7px;
      }
    }
  }

  .topbar__search {
    display: none;
  }

  .topbar__search-field {
    width: 0;
    transition: all 0.3s;
    margin: auto;
    opacity: 0;

    &.topbar__search-field--open {
      width: 300px;
      opacity: 1;
    }
  }

  @media screen and (min-width: 480px) {

    .topbar__avatar-name {
      display: block;
    }

    .topbar__search {
      display: flex;
    }

    .topbar__menu {
      width: 100%;
      left: 0 !important;
    }
  }

  @media screen and (min-width: 576px) {

    .topbar__button {

      &.topbar__button--desktop {
        display: block;
      }

      &.topbar__button--mobile{
        display: none;
      }
    }

  }
}